.feed-container {
  ul {
    padding: 0;
    list-style: none;
    li {
      // generic styling first, then apply more with specificity
      margin-top: 14px;
      > div {
        color: white;
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        border: 2px solid #bfbfbf;
        margin-bottom: 12px;
        min-height: 80px;
        .user-info {
          padding-left: 8px;
          padding-bottom: 8px;
          border-right: 1px solid #bfbfbf;
          ul {
            width: 90px;
            li:first-of-type {
             font-size: 20px;
              font-weight: 700;
            }
            li {
              font-size: 14px;
            }
          }
        }
        .description {
          width: 100%;
          .top-bar {
            display: flex;
            font-size: 14px;
            //background-color: #bb3b53;
            div {
              text-align: center;
              border-right: 1px solid #bfbfbf;
              padding: 8px;
              flex: 1;
            }
            div:last-of-type{
              border-right: none;
              text-align: right;
            }
          }
          .text {
            padding: 4px 8px 8px 8px;
          }
        }
      }
      .tested-yes {
        width: 80%;
        margin-left:auto;
        margin-right:0;
        background-color: #22a421;
        .top-bar { background-color: #23ce21 }
        .user-info { background-color: #22b821 }
      }
      .tested-no {
        background-color: #802132;
        .top-bar { background-color: #bb3b53 }
        .user-info { background-color: #a12338 }
      }
    }
  }
}
