.submission-container {
  width: 75%;
  margin: 36px auto 32px auto;
  background-color: yellow;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;

  // wow so many bootstrap problems
  .initials-wrapper {
    display: flex;
    span {
      width: 115px;
      border-right: none;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    input {
      width: 60px;
      margin-right: 16px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .submission-dropdown-inputgroup {
      .submission-dropdown {
        margin-right: 16px;
      }
      .submission-state-dropdown {
        // necessary hack: menu is reversed since too long. React bootstrap problem
        transform: translate3d(0px, 40px, 0px)!important;
      }
    }
  }

  .submission-text-inputgroup {
    margin-top: 12px;
    min-height: 180px;
  }
}
