.result-table-container {
  background-color: powderblue;
  width: 425px;
  height: 1120px;
  table {
    margin-bottom: 0;
    tr {
      td {
        font-size: 14px;
        padding: 0 0 0 8px;
      }
    }
  }
}
