.app-container {
  margin: 0 auto;
  //background-color: darkgray;
  max-width: 1280px;

  .header {
    padding-top: 16px;
    font-weight: 700;
    text-align: center;
  }
  .centered-content {
    width: 80%;
    margin: 0 auto;
  }
}
